In [3]:
def check_palindrome(word):
    return word

In [4]:
check_palindrome('Ajay')

'Ajay'

In [5]:
a= 'lucky'
print(a[::-1])

ykcul

In [8]:
a='nitin'

if a==a[::-1]:
    print(f'{a} is a plaindrome')
else: 
    print(f'{a} is not a paindrome')

nitin is a plaindrome

In [1]:
def check_palindrome(word):
    if type(word) == str:
        word=word.upper()
        if word==word[::-1]:
            return 'Palindrome'
        else:
            return 'Not a palindrome'
    else:
        return'Invalid Data Type'

In [3]:
check_palindrome(122)

'Invalid Data Type'

In [28]:
def give_fibo(n):
    fibo = [0,1]
    for i in range(n-2):
        last_num = fibo[-1]
        second_last_num = fibo[-2]
        next_num = last_num + second_last_num
        fibo.append(next_num)
    print(fibo)

In [30]:
give_fibo(9)

[0, 1, 1, 2, 3, 5, 8, 13, 21]

In [40]:
def check_prime(number):
    for i in range (2,number):
        if number%i == 0:
            return'Not a prime number'
            break
    else:
        return 'Prime Number'

In [42]:
check_prime(23)

'Prime Number'

In [48]:
n=3

print('Hello World\n'*n)

Hello World
Hello World
Hello World

In [62]:
def pattern(a):
    for i in range(1,a+1):
        for j in range (1,i+1):
            print('*',end=" ")
        print( )

In [63]:
pattern(6)

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [64]:
n=5

for i in range(1,n+1):
    print(i*'* ')

*
* *
* * *
* * * *
* * * * *

In [70]:
n=5

for i in range(1,n+1):
    print(' '*(n-i) + i*'*')

    *
   **
  ***
 ****
*****

In [95]:
def print_star(n=5,typ='left',shape='*'):
    if typ=='left':
        space = ''
    
    elif typ=='right':
        space = '  '
    
    elif typ=='mid':
        space = ' '
    
    for i in range(1,n+1):
        print(space*(n-i)+ i*f'{shape} ')

In [103]:
print_star(6,'right','&')

          &
        & &
      & & &
    & & & &
  & & & & &
& & & & & &

In [5]:
def sum_of_n_natural_numbers(n):
    result=0
    for i in range(1,n+1):
        result+=i
    return result

In [6]:
sum_of_n_natural_numbers(5)

15

In [114]:
def factorial(n):
    result=1
    for i in range (1,n+1):
        result*=i
    return result

In [115]:
factorial(5)

120

In [9]:
def total_sales(*args):
    # unpacking
    result = 0
    for i in args:
        result += i
    return result

In [10]:
total_sales(1,2,4,5)

12

In [20]:
sales = [453,56,3312,324,7777,88,5,1,6561]
# min(sales)

In [21]:
min_element = sales[0]
for i in sales [1:]:
    if i < min_element:
        min_element = i
print(min_element)

1

In [22]:
max_element = sales[0]
for i in sales[1:]:
    if i > max_element:
        max_element=i
print(max_element)

7777

In [23]:
def minn(*data):
    min_ele = data[0]
    for i in data [1:]:
        if i < min_ele:
            min_ele = i
    return min_ele

In [24]:
minn(34,45,54,53,21,66,90,101)

21

In [26]:
def maxx(*values):
    max_ele = values[0]
    for i in values[1:]:
        if i > max_ele:
            max_ele=i
    return max_ele

In [27]:
maxx(23,32,68,86,10111,12224,959)

12224

In [46]:
company=['ola','uber','rapido','tata','adani']

result=[]
for i in company:
    result.append('#' + i.upper())
print(result)

['#OLA', '#UBER', '#RAPIDO', '#TATA', '#ADANI']

In [43]:
def add_hash(*company):
    result=[]
    for i in company:
        result.append('#' + i.upper())
    return result

In [53]:
add_hash(*company)

['#OLA', '#UBER', '#RAPIDO', '#TATA', '#ADANI']

In [55]:
add_hash('ril','boat')

['#RIL', '#BOAT']

In [60]:
def store_records(name,age,sec,roll_no,Class):
    data={'Name':name,'Age':age,'Section':sec,'ROll-No':roll_no,'Class':Class}
    import pandas as pd
    result = pd.DataFrame(data,index=[1])
    return result

In [65]:
display(store_records('Aaryan',20,'A',26,12))
display(store_records('Krishna',20,'A',27,12))
display(store_records('Kkavya',20,'A',28,12))

     Name  Age Section  ROll-No  Class
1  Aaryan   20       A       26     12

      Name  Age Section  ROll-No  Class
1  Krishna   20       A       27     12

     Name  Age Section  ROll-No  Class
1  Kkavya   20       A       28     12

In [70]:
def student_records(**kwargs):
    print(kwargs)
    import pandas as pd
    try:
        result = pd.DataFrame(kwargs)
        return result
    except:
         result = pd.DataFrame(kwargs)
         return result

In [73]:
student_records(Name = ['Ayan','B', 
                Age = [20,12] 
                Roll_No = [85,90 ]
                Address= ['Delhi','Noida'])

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' on line 1 (196811824.py, line 4)